[submodule "projects/daimon"]
	path = projects/daimon
	url = git@github.com:pymc-labs/daimon.git
[submodule "apps/podplay"]
	path = apps/podplay
	url = git@github.com:clsandoval/podplay-ops.git
[submodule "projects/angkin"]
	path = projects/angkin
	url = git@github.com:getbutanding/angkin.git
[submodule "projects/hermes-agent"]
	path = projects/hermes-agent
	url = git@github.com:getbutanding/hermes-agent.git
